<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ollie Step Two</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div th:insert="fragments/_header :: header"></div>

<h2>Ollie Step Two</h2>
<img class="left" th:src="@{/img/ollie2.jpg}" alt="Slide your foot">
<h2>Slide</h2>
<p>
    The second step to performing an ollie is to slide your front foot forward to the center tip of the nose.
</p>

<p>
    This is the part of the trick that will cause your back wheels of the skateboard to lift off of the ground, similar
    to the pop, the stronger the slide is, the higher the board will go. You need to have control of the slide as well.
</p>
<p>
    At the start of the slide, the bottom knuckle of your pinky toe should align with the center of the nose, this will
    cause your shoe to get a little battered due to the roughness of the grip tape.
</p>
<p>
    The image above shows a slide that is in progress, notice the angle of the foot and the leg. To achieve maximum height,
    the sliding foot must angle inward to help lift the skateboard off of the ground.
</p>
<p>Content taken from <a
        href="https://www.goskate.com/how-to-ollie/">here.</a>
</p>
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>