<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ollie Step Three</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div th:insert="fragments/_header :: header"></div>

<h2>Ollie Step Three</h2>
<img class="left" th:src="@{/img/ollie3.jpg}" alt="level the skateboard">
<h2>Level out the board</h2>
<p>
    After achieving a proper slide, the tail of the board will list off of the ground.
</p>
<p>
    Your back foot will leave the ground with the board and will follow your front foot to the pinnacle of the ollie.
    This is when the board stops lifting and begins to fall.
</p>
<p>
    To level the board, once at the pinnacle, look down at the board, try to position your feet on the bolts visible
    in the grip tape, and push down evenly with both feet. It is important to get a feel for the pinnacle height of the
    ollie in order to know when to start pushing with the front foot in order to get the board level.
</p>
<p>Content taken from <a
        href="https://www.goskate.com/how-to-ollie/">here.</a>
</p>

<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>