<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>How to</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<p>
    A three step tutorial on how to do an ollie on a skateboard.
</p>
<p>Below is an image of the anatomy of a skateboard, for this tutorial it requires you to know that one end of the board is the tail, and the other end is the nose.</p>
<img height="800px" width="800px" th:src="@{/img/skateboardanatomy.png}"/>
<p>
    Content taken from <a href="https://www.cablemuseum.org/">here.</a>
</p>
<div th:replace="fragments/_footer :: footer"></div>
</body>
</html>